@import url('./css/home.css');
@import url('./css/navbar.css');
@import url('./css/profile.css');
@import url('./css/login.css');
@import url('./css/signup.css');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/*color palette
white: #f7f9f9
box-shadow: #e0e0e0;
light blue: #a5dbe5
box-shadow: #80acb2;
orange: #fa990e
box-shadow: #b58f3c;
yellow: #fecc46
box-shadow: #b79039;
light green: #5b8d27
dark green: #114a0b
grey font: #1e1e1e
light grey font: #777777;
*/

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway;
  background-color:rgba(247, 249, 249)
}
