.profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(247, 249, 249);
}

.profile_trips {
  margin-top: 30px;
}

.profile_trips ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.profile_trips h2 {
  color: #777777;
  font-size: 45px;
}

.profile_info {
  background-color: #fecc46;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  width: 20%;
  padding: 0 10px 0 20px;
  box-shadow: 5px 0px 6px -4px #b58f3c;
  min-height: 100vh;
}

.trip_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit-btn {
  background-color: #fecc46;
  padding: 5px;
  border: none;
}

.input_profile {
  border-radius: 15px;
  border: none;
  font-size: 15px;
  width: 70%;
  padding: 10px 20px;
  text-align: center;
  background-color: #fa990e;
  color: white;
}

.profile_detail_info {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.title_detail {
  color: #fa990e;
}

.fas.fa-pencil-alt {
  color: #fa990e;
  font-size: 15px;
  margin-left: 10px;
}

.btn-delete {
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 15px;
  background-color: #b44a22;
  padding: 10px 40px;
  margin-top: 10px;
}

.edit_items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: center;
  color: white;
  font-size: 20px;
}

.profile_info label {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.profile_image {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.charts {
  text-align: center;
}

.trip-charts {
  width: 80%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.line :first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.doughnut-container :first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.line h2 {
  color: #777777;
  font-size: 20px;
}

.stats {
  border-radius: 20px;
  background-color: white;
  width: 35%;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px 0px #e0e0e0;
  height: 340px;
}

.stats h2 {
  color: #777777;
  font-size: 25px;
}

.statsTitle strong {
  color: #f29833;
  font-size: 55px;
}

.statsTitleCommunity strong {
  color: #fecc46;
  font-size: 35px;
}

.statsTitleCommunity {
  display: flex;
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
  color: #777777;
}

.statsTitle {
  display: flex;
  font-size: 15px;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  color: #777777;
}

.doughnut {
  width: 60%;
}

.doughnut :first-child {
  width: 100%;
}

.doughnut :first-child h2 {
  margin-top: 0;
}

.msg-edit {
  color: #b44a22;
  font-size: 25px;
}

.div-ul {
  display: flex;
  flex-direction: column;
  width: 28%;
  font-size: 20px;
  background-color: white;
  box-shadow: 0px 0px 8px 0px #e0e0e0;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.div-ul li {
  margin: 5px 0;
  color: #777777;
}

.div-ul h2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  color: #777777;
}

.div-ul .btn-delete {
  width: auto;
  background-color: white;
  color: #fa990e;
  font-size: 25px;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.trip_details::after {
  content: '';
  width: 28%;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.carbon-projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.carbon-projects h2 {
  font-size: 20px;
  color: #777777;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.projects h2 {
  width: 100%;
  text-align: center;
  color: #777777;
  margin-bottom: 0;
  font-size: 45px;
}

.projects p {
  width: 100%;
  text-align: center;
  color: #777777;
  margin-bottom: 30px;
}

.projects a {
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  color: white;
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  background-color: #a5dbe5;
  box-shadow: 0px 0px 8px 0px #e0e0e0;
  margin: 10px;
}

/* hr {
  width: 100%;
  border: 3px solid white;
  border-radius: 5px;
  margin-top: 50px;
} */
