.profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(247, 249, 249);
}

.profile_trips ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.profile_info {
  background-color: #fecc46;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  min-width: 25%;
  padding: 0 15px;
  box-shadow: 5px 0px 6px -4px #602200;
  min-height: 100vh;
}

.trip_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.edit-btn {
  background-color: #fecc46;
  padding: 5px;
  border: none;
}

.input_profile {
  border-radius: 15px;
  border: none;
  font-size: 15px;
  width: 45%;
  padding: 10px 20px;
  margin: 0 20px;
  text-align: center;
  background-color: #fa990e;
  color: white;
}

.profile_detail_info {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.title_detail {
  color: #fa990e;
}

.fas.fa-pencil-alt {
  color: #fa990e;
  font-size: 25px;
}

.btn-delete {
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 15px;
  background-color: #b44a22;
  padding: 10px 40px;
  margin-top: 10px;
}

.edit_items {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  color: white;
  font-size: 20px;
}

.profile_image {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.charts {
  text-align: center;
}

.trip-charts{
  width: 60%;
  margin-left: 75px;
}

.line {
  margin-bottom: 300px;
}

.doughnut {
  margin-bottom: 100px;
}

.msg-edit {
  color: #b44a22;
  font-size: 25px;
}

.div-ul {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 20px;
  background-color: #f7f9f9;
  box-shadow: 0px 0px 8px 0px #e0e0e0;
  padding: 20px;
  border-radius: 20px;
}

.div-ul:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 20px;
}

.div-ul,
li {
  margin: 5px 0;
}

.div-ul h2 {
  font-size: 25px;
}

.div-ul .btn-delete {
  width: auto;
  background-color: #f7f9f9;
  color: #fa990e;
  font-size: 25px;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.carbon-projects{
  display: flex;
  justify-content: space-around;
    
}

.projects{
  display: flex;
  flex-direction: column;
}

.projects a{
  text-decoration:none;
  font-size: 20px;
  color: #fa990e;
}