@media screen and (max-width: 413px) {
  .signup {
    height: 78vh;
    width: 90%;
    margin: 0 5%;
    padding-top: 15px;
  }
  
  .signup_detail {
    margin: 0 0 18px 20px;
    font-size: 15px;
  }
  
  .btn-signup {
    margin-top: 17px;
    font-size: 20px;
  }
  
  .h2_signup {
    font-size: 30px;
  }
  
  .input_signup {
    width: 60%;
    padding: 8px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 10px;
  }
  
  #signup {
    min-height: 100vh;
    padding-top: 15px;
  }
  
  .info-danger {
    font-size: 17px;
    margin: 30px;
  }

}

@media screen and (min-width: 414px) and (max-width: 767px) {
  .signup {
    height: 80vh;
    width: 90%;
    margin: 0 5%;
    padding-top: 15px;
  }
  
  .signup_detail {
    margin: 0 0 18px 20px;
  }
  
  .h2_signup {
    font-size: 35px;
  }
  
  .input_signup {
    width: 55%;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 15px;
  }
  
  #signup {
    min-height: 100vh;
    padding-top: 27px;
  }
  
  .info-danger {
    font-size: 25px;
    margin: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .signup {
    height: 80vh;
    width: 70%;
    margin: 0 15%;
    padding-top: 15px;
  }
  
  .signup_detail {
    font-size: 25px;
    margin: 0 0 18px 60px;
  }
  
  .h2_signup {
    font-size: 45px;
  }
  
  .input_signup {
    width: 55%;
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 15px;
  }
  
  #signup {
    min-height: 100vh;
    padding-top: 27px;
  }
  
  .info-danger {
    font-size: 30px;
    margin: 30px;
  }

  .btn-signup {
    font-size: 30px;
    padding: 15px 40px;
}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .signup {
    height: 80vh;
    width: 70%;
    margin: 0 15%;
    padding-top: 20px;
  }
  
  .signup_detail {
    font-size: 25px;
    margin: 0 0 18px 60px;
  }
  
  .h2_signup {
    font-size: 45px;
  }
  
  .input_signup {
    width: 55%;
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 15px;
  }
  
  #signup {
    min-height: 100vh;
    padding-top: 35px;
  }
  
  .info-danger {
    font-size: 30px;
    margin: 30px;
  }

  .form {
    width: 100%
  }
  .btn-signup {
    font-size: 30px;
    padding: 15px 40px;
}
}